.character {
  cursor: pointer;
  margin-bottom: 10px;
}

.chracter__rating {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid black;
  font-size: 70%;
  padding: 0.25em 0.5em;
  border-radius: 10px;
}

